<!-- Stylesheet for the Compendium --->
<!-- As of yet incomplete. Will be modified later. --->

body{
	min-width:600px;
}
#topContainer{
	 height:42pt;
}
.searchResult{
	text-decoration:underline;
	color:#00f;
}
.searchResult:hover{
	text-decoration:none;
	color:#00f;
	cursor:pointer;
}

.toggle{
	position:absolute;
	left:80pt;
	top:15pt;
	width:40pt;
}
.menuIcon{
	position:absolute;
	top:16pt;
	left:20pt;
	width:40pt;
}
.titleImg{
	max-height:48pt;
	max-width:400pt;
	position:absolute;
	top:0pt;
	left:32.5%;
	width:35%;
}
.searchContainer{
	position:absolute;
	text-align:right;
	top:16pt;
	left:50%;
	width:48%;
}
#searchInput{
	width:20%;
}
#searchButton{
	float:right;
	width:15pt;
	position:relative;
	top:0pt;
	left:5pt;
}
#closeSearchMenu{
	 float:right;
	 width:15pt;
	 position:relative;
	 top:0pt;
	 left:5pt;
}
#zoomOutButton{
	float:left;width:15pt;position:absolute;left:15pt;
}
#zoomDefButton{
	float:left;width:12pt;position:absolute;left:35pt;
}
#zoomInButton{
	float:left;width:15pt;position:absolute;left:51.5pt;
}
.pageTurn_VL{
	float:right;width:15pt;position:relative;
}
#goToPage_VL{
	float:right;position:relative;top:1pt;left:1pt;
}
#pagen_l{
	float:right;width:20pt;
}
#page{
	width:100%;box-shadow: 0 0 1px 1px #666;
}
#modify{
	float:left;position:relative;width:10%;
}
#cancel{
	float:left;position:relative;width:10%;visibility:hidden;
}
.pageTurn_VR{
	float:right;position:relative;width:15pt;
}
#goToPage_VR{
	float:right;position:relative;top:1pt;left:1pt;
}
#pageNum_VR{
	float:right;width:20pt;
}
.changeVR{
	text-align:center;width:32%;
}
#editMode{
	resize:none;position:absolute;top:0pt;visibility:hidden;
}
#textView{
	font-family:sans-serif;
}
searchMenu{
	visibility:hidden;
	position:absolute;
	right: 2%;
	z-index:3;
	max-height:75%;
	width:25%;
	background-color:#eeeeee;
	border:1px solid black;
	border-radius: 3pt;
	overflow:auto;
	padding:1%;
}
iconMenu {
	position:absolute;
	z-index:2;
	left:20pt;
	top:32pt;
	height:75%;
	width:75%;
	line-height:30px;
	background-color:#eeeeee;
	border:1px solid black;
	border-radius: 3pt;
	overflow:auto;
	padding:1%;
	visibility:hidden;
}
viewLeft {
	line-height:30px;
	background-color:#e3e3e3;
	width:47.5%;
	float:left;
	border:1px solid #e3e3e3;
	border-radius: 2pt;
	box-shadow: 0 0 1px 1px #888;
	padding:1%;
}
viewRight {
	line-height:30px;
	background-color:#e3e3e3;
	height:80%;
	width:47.5%;
	float:right;
	border:1px solid #e3e3e3;
	border-radius: 2pt;
	box-shadow: 0 0 1px 1px #888;
	padding:1%;
}
viewImage {
	line-height:30px;
	height:94.5%;
	width:100%;
	float:left;
	left:2.5%;
	box-shadow: 0 0 1px 1px #888;
	overflow:auto;
}
iframe{
	border:hidden;
}
.rollovericons input{
	margin: 2pt;
}